[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Fusuma
Comment=Touchpad Gestures
Exec=bash -c "pgrep fusuma || sudo /usr/bin/fusuma -d --config=/home/dido/.config/fusuma/config.yml"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

